<!-- #region FOOTER BEGIN -->
<div class="footer">

    <div class="social">
        <div class="socialLinks">
            <!-- <a href="/team.html"> Team </a> -->

            <a href="/contact.html">Contact</a>

            <!-- <a href="/career.html"> Career </a> -->

            <a href="/privacy.html">Privacy</a>

            <a href="/accessibility.html">Accessibility</a>


            <div class="tooltip">
                <a href="/accessibility.html">
                    Cookie </a>
                <span class="tooltipText">
                    We only use necessary cookies to make our site work.
                    Necessary cookies enable core functionality such as security,
                    network management and accessibility.
                    You may disable these by changing your browser settings,
                    but this may affect how the website functions.
                    By using our website, you agree to our
                    <a href="/coocie.html">cookie policy</a>.
                </span>
            </div>
        </div>
    </div>

    <div class="socialSprite">
        <a href="mailto:manthanwar@hotmail.com" title="Email" class="Email"></a>
        <a href="tel:+91-121-232-1231" title="WhatsApp" class="WhatsApp"></a>
        <a href="https://www.facebook.com" title="LinkedIn" class="LinkedIn"></a>
        <a href="https://www.facebook.com" title="Facebook" class="Facebook"></a>
        <a href="https://www.twitter.com" title="Twitter" class="Twitter"></a>
        <a href="https://www.instagram.com" title="Instagram" class="Instagram"></a>
        <a href="https://www.youtube.com" title="YouTube" class="YouTube"></a>
    </div>


    <div class="copyright">
        <a href="/index.html"> &copy; 2020 - <script>document.write(new Date().getFullYear())</script>
            Amit M. Manthanwar. All rights reserved.
        </a>
    </div>


</div>
<!-- #endregion FOOTER END -->