<header class=" topnav" id="myTopnav">

    <div class="logo">
        {{!-- <a href="#" class="logo">
            <img src="/media/svg/bap.svg" alt="Manthan">
        </a> --}}
        <a href="/" class="home">Manthanwar</a>
        <a href="{{ areaLink }}" class="area">{{ area }}</a>
    </div>

    <div class="navAdmin">
        <a href="/html/">Career</a>
        {{!-- <a href="/html/">Shop</a> --}}
        <a href="/html/">Invest</a>
        {{!-- <a href="/css/" class="donate">Donate</a> --}}
        <a href="/html/">&#x265b; Login</a>
    </div>

    <div class="navMain">
        <a href="/about">About</a>
        <a href="/solutions">Solutions</a>
        <a href="/network">Applications</a>
        <a href="http://www.bapFoundation.org">Products</a>
        <a href="/network">Publications</a>
    </div>

    <div class="icon" href="javascript:void(0);" onclick="header()">
        &#9776;
    </div>

</header>